h1 {
	background: red;
}
.container-fluide {
	background: brown;
}
.row {
	background: orange;
	opacity: .7;
}
.color-test {
	background: grey;
}
.border {
	border: 1px solid #000;
}
.margzero {
	margin: 0;
}
.padzero {
	padding: 0;
}
.navbar {
	margin-bottom: 33px;
}
.nav_vertical_pos {
	padding: 2% 0 1.4%;
}
.nav-cont .row {
	padding-left: 15px;
	padding-right: 15px;
}
.nav_btn_cont {
	padding: 0;
}
.nav_btn_cont li {
	padding: 0;	
}

.nav_btn_cont .active {
	border-bottom: 1px solid red;	
}
.nav_btn_cont li a {
	padding: 6px 0;
	font-size: 1.33em;	
}

.tmp-block {
	background: yellow;
	
}
.logo_cont {
	background: pink;
	padding-top: 0.3%;
}
.logo_cont a {
	padding: 0;
	height: 100%;
}
.logo {
	width: 100%;
	
	border: 1px solid red;
}
.nav_btn_cont {
	font-size: 14px;
	text-align: center;
}
.contact_inform {
	padding: 0;
	font-size: 11px;
}
.inform_element {
	line-height: 19px;
}
.contact_inform div {
	padding: 0;
}
.contact_inform div span {
	padding-right: 5px;
}

.soft_btn_cont {
	background: red;
	margin: 0;
	float: right;
}
.soft_btn_cont .row {
	margin: 0;
}
.soft_btn {
	padding: 6px 0px;
	float: right;
	font-size: 1.35em;
	border-radius: 50px 50px 50px 50px;
}
.soft_btn_cont .btn-group {
	background: green;
	padding: 0;
	float: right;
}
.btn-group {
	margin-left: 15px;
}
.aside {
	background: brown;
	padding-right: 30px;
}
.aside .row {
	background: blue;
}
.aside ul { 
	padding-bottom: 30px;
	border-bottom: 2px solid #dfe2e6;
}
.aside li a {
	background: white;
	font-size: 1.1em;
	padding: 0.6em 2em 0.6em 2em;
	margin-bottom: 5px;
	border-radius: 0 6px 6px 0;
}
.slider {
	margin-bottom: 1.5%;
	border-bottom: 2px dashed #e0e3e6;
}
.slider h3 {
	padding-bottom: 8px;
}
.slide_inform {
}
.carousel-inner img {
	min-height: 520px;
	background: purple;
}
.carousel-control {
	text-shadow: 0 1px 2px rgba(255, 255, 255, 1);
	background-color: rgba(255, 255, 255, 1);
	opacity: 1;
	bottom: 0;
	width: 36px;
	height: 36px;
	top: 45%;
	left: 3%;
	border-radius: 50%;
}
.carousel-control.right {
	right: 3%;
}
.carousel-control .glyphicon {
	position: absolute;
	border-radius: 50%;
	margin: 20%;
	top: 0;
	left: 0;
	width: 60%;
	height: 60%;
		
}
.glyphicon_left {
	background: url(../img/sprite/left-arrow.png) no-repeat 30% 00%;
}
.glyphicon_right {
	background: url(../img/sprite/left-arrow.png) no-repeat 30% 00%;
}
.tour_block_info .glyphicon {
	padding-right: 1%;
}
.tour_block_info h4 {
	padding: 1.1% 0 1.1%;
	margin-bottom: 1.5%;
	border-bottom: 2px solid #e0e3e6;
	color: #2d4251;
	font-weight: bold;
}
.carousel {
	padding-bottom: 15px;
}
.like_share_cont .row {
	margin-bottom: 15px;
}
.like_share_cont i {
	background: red;
	margin: 3% 17% 3% 0;
}
.like_share_cont button {
	padding: 1% 10% 1.5% 4%;
	margin-right: 5%;
	border-radius: 50px 50px 50px 50px;
	font-size: 0.95em;
	color: #788fa3;
	border: 1px solid #bbc5d0;
}
.tour_geo {
	
}
.tour_geo .breadcrumb {
	padding: 0 0 0 5%;
	margin: 0;
	background: none;
}
.tour_geo ol {
	padding: 0 0 0 5%;
	margin: 0;
}
.tour_geo ol a {
	color: #2d4251;
	text-decoration: underline;
}
.tour_geo .active {
	color: #3899ed;
}
.tour_geo i {
	padding: 0;
	margin: 0 3% 0 0;	
}
.breadcrumb > li + li:before {
	padding: 0;
  color: #3899ed;
  content: ",\00a0";
}
.rating_cont {
	position: relative;
}
/*######## rating stars ###########*/

fieldset, label { margin: 0; padding: 0; }

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f006";
  background: grey;
  /*width: 5.5%;*/
}

/*.rating > .full:before {
	/*content: "\f005";	*/
	
/*	background: blue;
	position: relative;
}*/

.rating > .half:before { 
  width: 5.5%;
  position: absolute;
	background: yellow; 
}

.rating > label { 
	
	float: right; 
}

.rating > input:checked ~ .half:before, /* show gold star when clicked */
.rating:not(:checked) > .half:hover:before { color: red; content: "\f089"; } /* hover previous stars in list */


.rating > input:checked ~ .full:before, /* show gold star when clicked */
.rating:not(:checked) > .full:hover:before/* /* hover current star 
.rating:not(:checked) > label:hover ~ label*/ { color: red; content: "\f005"; } /* hover previous stars in list */


.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: lime; content: "\f005"; z-index: 10; }


/*.rating > input:checked + .full:hover:before, 
.rating > input:checked ~ .full:hover:before,
.rating > input:checked + .half:hover:before, 
.rating > input:checked ~ .half:hover:before,*/



.rating:not(:checked) > .half:hover:before ~ .rating:checked

{ color: lime; }


/*#################################*/
.tour_block_info ul {
	line-height: 175%;	
}
.tour_block_info p {
	padding-left: 15px;
}
.tour_block_info h5 {
	padding-left: 15px;
}
