h1 {
	background: red;
}
.container-fluide {
	background: brown;
}
.row {
	background: orange;
	opacity: .7;
}
.color-test {
	background: grey;
}
.navbar-header {
	height: 100%;
}
.border {
	border: 1px solid #000;
}
.margzero {
	margin: 0;
}
.padzero {
	padding: 0;
}

.nav-cont .row {
	padding-left: 15px;
	padding-right: 15px;
}
.nav-head {
	padding-right: 0;
}

.tmp-block {
	background: yellow;
	min-height: 100px;
}
