h1 {
	background: red;
}
.container-fluide {
	background: brown;
}
.row {
	background: orange;
	opacity: .7;
}
.color-test {
	background: grey;
}
.navbar-header {
	height: 100%;
}
.border {
	border: 1px solid #000;
}
.margzero {
	margin: 0;
}
.padzero {
	padding: 0;
}
.nav_vertical_pos {
	padding-top: 17px;
}
.nav-cont .row {
	padding-left: 15px;
	padding-right: 15px;
}
.nav-head {
	padding-right: 0;
}
.nav-head .col-xs-6 {
	padding: 0;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 10px solid \9;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 10px dashed;
  border-top: 10px solid \1;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
.btn-lg .caret {
  border-width: 5px 5px 0;
  border-bottom-width: 0;
}
.dropup .btn-lg .caret {
  border-width: 0 5px 5px;
}

.tmp-block {
	background: yellow;
	min-height: 100px;
}
.hundred {
}
.logo_cont {
	background: pink;
	height: 100%;
}
.logo_frame {
	padding: 0;
}
.nav_btn_cont {
	font-size: 14px;
	text-align: center;
}
.contact_inform {
	padding: 0;
	font-size: 11px;
}
.inform_element {
	line-height: 17px;
}
.contact_inform div {
	padding: 0;
}
.contact_inform div span {
	padding-right: 5px;
}

.soft_btn_cont {
	background: red;
	margin: 0;
	float: right;
}
.soft_btn_cont .row {
	margin: 0;
}
.soft_btn {
	padding: 6px 0;
	float: right;
	font-size: 14px;
	
	border-radius: 50px 50px 50px 50px;
}

.soft_btn:nth-child(1) {
	
}

.soft_btn_cont .btn-group {
	background: green;
	padding: 0;
	float: right;
}
.btn-group {
	margin-left: 15px;
}